.blog-header {
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;
}

.blog-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-sitenav {
  display: flex;
  margin-left: auto;
}

.blog-sitenav-list {
  display: flex;
  justify-content: space-between;
  gap: 3.3rem;
}

.blog-sitenav-link {
  font-family: "Heebo";
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
}

.blog-main {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.blog-container {
  display: flex;
  flex-direction: column;
}

.blog-description {
  font-family: Heebo;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 2.7;
  color: #21243d;
  margin-bottom: 5.5rem;
  margin-bottom: 1.7rem;
}

.blog-context {
  flex-direction: column;
  gap: 3.2rem;
}
.blog-text {
  font-family: Heebo;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.4;
  color: #21243d;
}
.blog-list {
  display: flex;
  gap: 4rem;
  margin-bottom: 1.6rem;
}
.blog-item {
  font-family: Heebo;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #8695a4;
}

.blog-item-first {
  font-family: Heebo;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #21243d;
}
.blog-content {
  font-family: Heebo;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: #21243d;
  margin-bottom: 2.9rem;
}

.divider {
  margin-bottom: 0.2rem;
}

.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.footer-container {
  width: 100%;
  max-width: 350px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}
.footer-description {
  display: flex;
}
.footer-text {
  font-family: Heebo;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #21243d;
  margin-top: 2.6rem;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .blog-header {
    display: none;
  }

  .blog-container {
    flex-direction: column;
  }
}
